
.icon-home:before { content: '\e800'; } /* '' */
.icon-upload:before { content: '\e801'; } /* '' */
.icon-adult:before { content: '\e802'; } /* '' */
.icon-art-gallery:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e805'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
